.body-wrapper {
  padding-left: 0;
  width: 100%;
  transition: all 0.5s ease;
  &.toggled {
    .sidenav-wrapper {
      width: 230px;
    }
  }
  @media screen and (min-width: 1200px) {
    &.toggled {
      padding-left: 230px;
      .content-wrapper {
        position: absolute;
        width: auto;
      }
      .content-navbar {
        // left: 230px;
      }
    }
  }


  // video column size adapted to fit content body space
  @media screen and (min-width: 1550px) {
    &.toggled {
      .content-wrapper {
        .video-list {
          .col-video {
            width: percentage(1/6) !important;
          }
        }
      }
    }
  }
}

