.body-wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  &.toggled {
    .sidenav-wrapper {
      width: 230px;
    }
  }
  @media screen and (min-width: 1200px) {
    &.toggled {
      padding-left: 230px;
      .content-wrapper {
        position: absolute;
        margin-right: -230px;
      }
      .content-navbar {
        left: 230px;
      }
    }
  }
}