.content-navbar {
  .navbar {
    width: 100%;
    background-color: $yt-white;
    min-height: 40px;
    z-index: 1;
    &.content-navbar-fixed {
      position: fixed;
      border-width: 0 0 1px;
    }
    .navbar-nav {
      float: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      min-width: 270px;
      margin: 0;
      li {
        float: left;
        white-space: nowrap;
        padding: 0 15px;
        a {
          font-size: 13px;
          box-sizing: border-box;
          padding: 10px 0;
          height: 40px;
          border-bottom: 3px solid transparent;
          color: $yt-dark-grey;
        }
        &.selected a {
          font-weight: 700;
          border-color: $yt-dark-red;
        }
        &:hover a {
          border-color: $yt-dark-red;
        }
      }
    }
  }
}