.yt-button {
  height: 28px;
  border-radius: 0;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  color: $yt-grey;
  &:hover {
    background-color: rgb(240, 240, 240);
    color: $yt-medium-dark-grey;
  }
}

.search-bar {
  background-color: $yt-white;
  margin-bottom: 0;
  padding: 8px 0;
  text-align: center;
  max-height: 50px;
  .search-bar-content-wrapper {
    display: inline-block;
    white-space: nowrap;

    // left side
    .search-bar-left {
      display: inline-block;
      overflow: hidden;
      max-height: 34px;
      .sidenav-toogle-button {
        float: left;
        padding: 10px;
        cursor: pointer;
        color: $yt-light-grey;
        &:hover {
          color: $yt-medium-dark-grey;
        }
      }
      .search-bar-brand {
        display: block;
        overflow: hidden;
        float: left;
        .collapsed-brand-logo {
          max-height: 54px;
          width: auto;
          margin-top: -10px;
        }
        .expanded-brand-logo {
          display: none;
          max-height: 85px;
          width: auto;
          margin-top: -25px;
        }
      }
    }

    // form
    .search-bar-center {
      display: inline-block;
      margin: 0;
      padding: 2px 0;
      border-color: transparent;
      .input-group {
        width: $yt-sb-ts-w;
      }
      .navbar-search-bar-input,
      .navbar-search-bar-btn {
        height: 28px;
        border-radius: 0;
        border: 1px solid #ccc;
      }
      .navbar-search-bar-input {
        width: $yt-sb-ts-w;
        box-shadow: 0 1px 1px transparent inset, 0 0 0 transparent;
      }
      .navbar-search-bar-btn {
        padding: 5px 12px 7px 12px;
      }
    }

    // right side
    .search-bar-right {
      display: inline-block;
      overflow: hidden;
      height: 34px;
      padding: 3px 10px;
      .user-picture {
        border-radius: 50%;
        max-width: 28px;
        float: left;
      }
      .upload-button {
        display: none;
        float: left;
        margin: 0 20px 0 0;
        font-weight: 300;
        color: black;
        font-size: 10px;
      }
    }
  }

  @media screen and (min-width: 500px) {
    .search-bar-content-wrapper {
      padding-left: 20px;
      padding-right: 20px;
      .search-bar-center {
        .input-group,
        .navbar-search-bar-input {
          width: $yt-sb-sm-w;
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    text-align: left;
    .search-bar-content-wrapper {
      width: 100%;
      white-space: initial;
      .search-bar-left {
        float: left;
        .search-bar-brand {
          .collapsed-brand-logo {
            display: none;
          }
          .expanded-brand-logo {
            display: initial;
          }
        }
      }

      .search-bar-center {
        margin-left: 93px;
        width: 48%;
        .input-group {
          width: 100%;
        }
        .navbar-search-bar-input {
          width: 100%;
        }
        .navbar-search-bar-btn {
          padding-left: 25px;
          padding-right: 25px;
        }
      }

      .search-bar-right {
        float: right;
        .user-picture {
        border-radius: 50%;
        max-width: 28px;
      }
        .upload-button {
          display: initial;
        }
      }
    }
  }
}
