.search-bar {
  background-color: white;
  margin-bottom: 0;
  .navbar-header {
    float: left;
    .sidenav-toogle-button {
      float: left;
      padding: 18px;
      cursor: pointer;
    }
    .search-bar-brand {
      padding: 0 15px;
      overflow: hidden;
      .collapsed-brand-logo {
        max-height: 50px;
        width: auto;
        // margin-top: -25px;
      }
      .expanded-brand-logo {
        display: none;
        max-height: 100px;
        width: auto;
        margin-top: -25px;
      }
    }
  }
  .navbar-search-bar {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    .navbar-search-bar-input {
      width: 300px;
    }
    .navbar-search-bar-btn {
      border: 1px solid #ccc;
      padding-left: 25px;
      padding-right: 25px;
      color: grey;
    }
  }
  .navbar-user {
    padding: 11px 15px;
    margin-left: 0 !important;
    float: right;
    .user-picture {
      border-radius: 50%;
      max-width: 28px;
    }
  }
  @media screen and (max-width: 768px) {
    .navbar-header {
      .search-bar-brand {
        padding: 0;
      }
    }

    .navbar-search-bar {
      margin: 0;
      border-top: 0;
      border-bottom: 0;
      padding-top: 8px;
      padding-bottom: 8px;
      .navbar-search-bar-input {
        width: 100%;
      }
    }
    .upload-button {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    .navbar-header .search-bar-brand {
      .collapsed-brand-logo {
        display: none;
      }
      .expanded-brand-logo {
        display: initial;
      }
    }
  }
}
