.loading-videos {
  padding: 20px;
}

.video-list {
  padding: 0 60px;
  .video {
    margin-top: 15px;
    display: inline-block;
    max-width: 196px;
    .thumb {
      max-height: 110px;
      overflow: hidden;
      margin-bottom: 10px;
      img {
        max-width: 196px;
        height: auto;
        margin-top: -18.5px;
      }
    }
    .title {
      text-align: left;
      height: 40px;
      overflow: hidden;
      p {
        font-weight: 700;
      }
    }
  }

  @media screen and (max-width: 499px) {
    .col-video {
      width: 100% !important;
    }
  }

  @media screen and (min-width: 1200px) and (max-width: 1300px) {
    .col-video {
      width: 25% !important;
    }
  }
}